# Created by .ignore support plugin (hsz.mobi)
/.idea/
/target
/ego_common/target/
/ego_manager/target/
/ego_generator/target/
/ego_portal/target/
/ego_rpc/target/classes/
/ego_rpc/target/
/ego_sso/target/
